<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>WebBanGiayDep</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomeControl</servlet-name>
    <servlet-class>control.HomeControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeControl</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginControl</display-name>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>control.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordControl</display-name>
    <servlet-name>ForgotPasswordControl</servlet-name>
    <servlet-class>control.ForgotPasswordControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordControl</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopControl</display-name>
    <servlet-name>ShopControl</servlet-name>
    <servlet-class>control.ShopControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopControl</servlet-name>
    <url-pattern>/ShopControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadSizesServlet</display-name>
    <servlet-name>LoadSizesServlet</servlet-name>
    <servlet-class>control.LoadSizesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadSizesServlet</servlet-name>
    <url-pattern>/LoadSizesServlet</url-pattern>
  </servlet-mapping>
</web-app>